<div class="main-container">
    <div class="d-flex justify-content-between align-middle">
        <h1 class="ms-3 align-middle page-title" >Stock Units</h1>

        <div class="d-grid gap-2 d-md-flex" role="group">
            <button class="btn btn-sm btn-light" routerLink="/uom-list"><i class="fa fa-arrow-left"></i>
                Back</button>
            <button id="btn-uom-save" class="btn btn-sm btn-light" type="button" (click)="submit()"
                *ngIf="roles.button.save">
                <i class="fa fa-check"></i>
                <span class="ms-1"> Save</span>
            </button>

            <button id="btn-uom-delete" class="btn btn-sm  btn-light" type="button" *ngIf="roles.button.delete"
                (click)="delete()">
                <i class="fa fa-trash"></i>
                <span class="ms-1"> Delete</span>
            </button>
            <div id="btn-uom-edit" class="form-check mt-2 align-middle" *ngIf="roles.button.edit">
                <input class="form-check-input " type="checkbox" [(ngModel)]="edit" id="uom-cb-isedit"
                    (change)="editOn()">
                <label class="form-check-label" for="uom-cb-isedit">
                    Edit
                </label>
            </div>
        </div>
    </div>
   
    <div class="dropdown-divider"></div>

    <div class="mx-3">
        <form [formGroup]='myForm' class="card border-0">
            <div class="card-header bg-transparent pb-0 border-0 px-0" style="color: var(--main-color);">
                <div class="card-title">Pack type detail<span class="text-primary ms-3"
                        style="font-size: small;">{{myForm.get('uom-cdate')?.value | date:'longDate'}}</span></div>
            </div>
            <div class="card-body px-0" [hidden]="!edit">
                <div class="row g-4 mb-1">
                    <div class="col-md position-relative">
                        <label for="setup-uom-name" class="form-label-sm mb-1">Name</label>
                        <input type="text" class="form-control form-control-sm" id="setup-uom-name" [readonly]="!edit"
                            formControlName="uom-name">
                        <span class="text-danger "
                            *ngIf="!myForm.get('uom-name')?.valid && myForm.get('uom-name')?.touched">
                            Please enter valid name
                        </span>
                    </div>
                    <div class="col-md position-relative">
                        <label for="setup-uom-id" class="form-label-sm mb-1">Id</label>
                        <input type="text" class="form-control form-control-sm" id="etup-uom-id" [readonly]="!edit"
                            formControlName="uom-code">
                        <span class="text-danger " *ngIf="!myForm.get('uom-code')?.valid && myForm.get('uom-code')?.touched">
                            Please enter valid id (*****)
                        </span>
                    </div>
               
                  

                </div>
               
                <div class="row g-1 mt-1">
                    <div class="col-md position-relative form-check">
                        <input type="checkbox" class="form-check-input" id="setup-uom-status"
                            formControlName='uom-status' [readonly]="!edit">
                        <label for="setup-uom-status" class="form-check-label ">Status</label>
                    </div>
                </div>
            </div>
            <div class="card-body px-0" *ngIf="!edit">
                <div class="row mb-3">
                    <div class="col-sm-3 fw-500">Name</div>
                    <div class="col-sm ">{{myForm.get('uom-name')?.value}}</div>
                </div>
                <div class="row mb-3">

                    <div class="col-sm-3 fw-500">Id</div>
                    <div class="col-sm ">{{myForm.get('uom-code')?.value}}</div>
                </div>
                
            </div>

        </form>
    </div>

</div>